

/* Screens Resolution : 1200px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	h2{ font-size: 2.5em; }
	
	.post-style-2 .blog-info { padding-bottom: 20px; }
	
	.blog-area .post-style-2 .title { padding-top : 0px }
	
	body { font-size: 16px; }
	
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	h1{ font-size: 3em; }
	h2{ font-size: 2em; }
	h3{ font-size: 1.5em; }
	
	body { font-size: 14px; }
	
	/* COMMoNS */
	
	.no-left-padding{ padding-left: 15px; }

	.no-right-padding{ padding-right: 15px; }
	
	/* ---------------------------------
	6. EXTRA BIG BLOG
	--------------------------------- */
	
	.post-style-2 .blog-image{ width: 100%; height: auto; float: none; }
	
	.post-style-2 .blog-info{ height: auto; width: 100%; }
	
}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	p{ line-height: 1.4; }

	h1{ font-size: 3em; }
	h2{ font-size: 2.5em; }
	h3{ font-size: 1.8em; }
	h4{ font-size: 1.5em; }
	h5{ font-size: 1.2em; }
	
	/* ---------------------------------
	2. COMMONS FOR PAGE DESIGN
	--------------------------------- */

	.section{ padding: 20px 0 10px; }
	
	/* ---------------------------------
	10. FOOTER
	--------------------------------- */

	footer{ padding: 10px 0 0px; margin-top: 0px; }
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 14px;  }
}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
}