{% extends '/layout.html' %}
{% block content %}
<style>
	/* Container holding the image and the text */
.post-image-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
<section class="blog-area section" style="margin-top:2rem;">
	<div class="container">
			{% for x in posts | batch(3) %}
			<div class="row">
			{% for post in x %}
			<div class="column">
				<a href="{{ url_for(".post",path=post.url) }}">
					<div class="post-image-container">
						<img src="{{ post.title_image.url() }}?w=500&h=333&fit=fill&q=30" alt="{{ post.title_image.title }}" style="filter: brightness(50%);">
						<div class="centered">
					  		<h2 style="font-weight:bold;">{{ post.title | upper }}</h2>
							<h3>{{ post.sub_title }}</h3>
						</div>
					</div>
				</a>	
			{% endfor %}
			</div><!-- row -->
			{% endfor %}
	</div><!-- container -->
</section><!-- section -->
{% endblock %}
