<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{{ (title + " - ") if title is defined }}Greeshmanth Koganti</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
	
	<link rel="shortcut icon" href="{{ static("img/favicon.ico") }}"/>
	
	{% block css %}{% endblock %}
</head>
<body>
	{% block content %}{% endblock %}
	<footer>
		<div class="container">
			<div class="row">
				<div class="column column-80 column-offset-10">
					<hr/>
					<p style="text-align:center;">Copyright © {{ now.year }} Greeshmanth Koganti. All rights reserved.</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</footer>
	<!-- SCIPTS -->
	{% block js %}{% endblock %}
</body>
</html>
